<div class="crud-form-title">
  <div class="field">
    <input id="title" ng-model="$ctrl.title" />
    <label for="title">Título</label>
  </div>
</div>

<div class="crud-form-description">
  <textarea placeholder="Descrição" ng-model="$ctrl.description"></textarea>
</div>

<div class="crud-form-actions">
  <button class="crud-form-actions-cancel"
    ng-click="$ctrl.cancel()">
    Cancelar
  </button>
  <button class="crud-form-actions-confirm"
    ng-click="$ctrl.confirm()">
    Adicionar
  </button>
</div>